<h2>Configuração</h2>
<div class="content-form col-xs-12" id="escolha-configuracao-salva">
</div>
<div class="content-form col-xs-12" id='escolha-configuracao-form'>
      
</div>

<div class="content-footer col-xs-12">
      <button class="btn btn-primary pull-left" onclick="escolhaConfiguracao.SaveConfigurationFromForm(); escolhaSala.LoadInterface()"><span class="glyphicon glyphicon-chevron-left"></span>Anterior</button>
      <button class="btn btn-primary pull-right" onclick="escolhaConfiguracao.SaveConfigurationFromForm(); confirmacao.LoadInterface()">Próximo<span class="glyphicon glyphicon-chevron-right"></span></button>
</div>