<h4>Configuralções salvas</h4>
<select id="conf-input-select">
    {{#each configurations}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>
<button class="btn btn-primary" onclick="escolhaConfiguracao.LoadSavedConfiguration();">Carregar Configuração</button>