<div id="espera-resultado-div" class="espera-resultado-div col-xs-12">
      <div class="loading-div">
            <div class="loading">
            </div>
      </div>
      <div>Calculando grade de horários...</div>
</div>