<h4>Escolha de Professores</h4>

<div id="escolha-professor-div">
      <div class="lista-professores">
            {{#each professores}}
            <button id="teacher-escolhe-{{id}}" class="btn btn-sm">{{nome}}</button>
            {{/each}}
      </div>
      <div class="grade-horarios-professores" id="grade-horario-escolha-professores"></div>
</div>