<h2>Escolha de Professores</h2>

<div id="escolha-professor-div" class="escolha-disponibilidade-div col-xs-12">
      <div class="lista-professores" id="lista-professores">
            {{#each professores}}
            <button id="teacher-escolhe-{{id}}" class="btn btn-sm btn-escolha-professor" onclick="escolhaProfessor.ActivateTeacher({{id}});">{{nome}}</button>
            {{/each}}
      </div>
      <div class="grade-horarios" id="grade-horario-escolha-professores">
            <div>Escolha um dos professores</div>
      </div>
</div>
<hr/>
<div class="content-footer col-xs-12">
      <div class="pull-left">
            <input type="text" maxlength="30" id="nome-professor-input" />
            <button class="btn btn-primary" onclick="escolhaProfessor.AddTeacher();"><span class="glyphicon glyphicon-plus">Adicionar Professor</span></button>
      </div>
      <div class="pull-right">
            <button class="btn btn-primary" onclick="escolhaGrupo.LoadInterface();"><span class="glyphicon glyphicon-chevron-left"></span>Anterior</button>
            <button class="btn btn-primary" onclick="escolhaMateria.LoadInterface();">Proximo<span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
</div>