@import 'base';

.simple-border{
    color: @secondary-color;
    background-color: @primary-color;
    border-radius: 5px;
}

body{
    section{
        width: 100%;
        h2{
            margin-left: 15%;
        }
        .content-footer{
            width: 100%;
            padding: 10px;
        }
    }
}

#info {
    .simple-border;
}

.escolha-disponibilidade-div{
    //overflow-y: scroll;
    .lista-professores, .lista-grupos{
        float: left;
        width: 300px;
        min-height: 300px;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        .btn-escolha-professor, .btn-escolha-grupo{
            color: @primary-color;
            background-color: @blue;
            display: block;
            margin-bottom: 5px;
            min-width: 125px;
            &.active{
                background-color: @green;
            }
        }
    }
}
.grade-horarios{
    border-left: solid @primary-color 1px;
    padding-left: 20px;
    min-height: 300px;
    .tabela-horarios{
        background-color: @alt-background;
        color: @secondary-color;
        border-radius: 15px;
        padding: 12px;
        .dia-semana{
            border-radius: 5px;
            padding: 5px;
            color: @primary-color;
            background-color: @green;
            font-size: 1.15em;
            margin-bottom: 10px;
            width: 90px;
        }

        .btn-escolha-disponibilidade{
            color: @primary-color;
            background-color: @red;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
            width: 90px;
            &.available{
                background-color: @green;
            }
        }
    }
}

.escolha-materia-div{
    text-align: center;
    width: 100%;
}