.simple-border {
  color: #ccc;
  background-color: #444;
  border-radius: 5px;
  border: 1px solid #444;
}
body section {
  width: 100%;
}
body section h2 {
  margin-left: 15%;
}
body section .content-form {
  width: 100%;
  padding: 10px;
}
#info {
  color: #ccc;
  background-color: #444;
  border-radius: 5px;
  border: 1px solid #444;
  width: 30%;
  margin-left: 35%;
  padding: 10px;
  padding-left: 15px;
  font-size: 0.9em;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
}
.start-div {
  margin-top: 25px;
  text-align: center;
  align-content: center;
  vertical-align: middle;
}
.start-div button {
  display: inline-block;
}
.escolha-disponibilidade-div .lista-professores,
.confirmacao-div .lista-professores,
.escolha-disponibilidade-div .lista-grupos,
.confirmacao-div .lista-grupos {
  float: left;
  width: 300px;
  min-height: 300px;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
.escolha-disponibilidade-div .lista-professores .btn-escolha-professor,
.confirmacao-div .lista-professores .btn-escolha-professor,
.escolha-disponibilidade-div .lista-grupos .btn-escolha-professor,
.confirmacao-div .lista-grupos .btn-escolha-professor,
.escolha-disponibilidade-div .lista-professores .btn-escolha-grupo,
.confirmacao-div .lista-professores .btn-escolha-grupo,
.escolha-disponibilidade-div .lista-grupos .btn-escolha-grupo,
.confirmacao-div .lista-grupos .btn-escolha-grupo {
  color: #ccc;
  background-color: #33a;
  display: block;
  margin-bottom: 5px;
  min-width: 125px;
}
.escolha-disponibilidade-div .lista-professores .btn-escolha-professor.active,
.confirmacao-div .lista-professores .btn-escolha-professor.active,
.escolha-disponibilidade-div .lista-grupos .btn-escolha-professor.active,
.confirmacao-div .lista-grupos .btn-escolha-professor.active,
.escolha-disponibilidade-div .lista-professores .btn-escolha-grupo.active,
.confirmacao-div .lista-professores .btn-escolha-grupo.active,
.escolha-disponibilidade-div .lista-grupos .btn-escolha-grupo.active,
.confirmacao-div .lista-grupos .btn-escolha-grupo.active {
  background-color: #191;
}
.grade-horarios {
  border-left: solid #444 1px;
  padding-left: 20px;
  min-height: 505px;
}
.grade-horarios .tabela-horarios {
  background-color: #999;
  color: #444;
  border-radius: 15px;
  padding: 12px;
}
.grade-horarios .tabela-horarios .dia-semana {
  border-radius: 5px;
  padding: 5px;
  color: #ccc;
  background-color: #191;
  font-size: 1.15em;
  margin-bottom: 10px;
  width: 90px;
}
.grade-horarios .tabela-horarios .btn-escolha-disponibilidade,
.grade-horarios .tabela-horarios .btn-resultado {
  color: #ccc;
  background-color: #a33;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 90px;
}
.grade-horarios .tabela-horarios .btn-escolha-disponibilidade.available,
.grade-horarios .tabela-horarios .btn-resultado.available {
  background-color: #191;
}
.grade-horarios .tabela-horarios .btn-resultado {
  height: 75px;
}
.grade-horarios .tabela-horarios .btn-resultado.no-class {
  background-color: #999;
  color: #ccc;
}
.escolha-materia-div {
  text-align: center;
  width: 100%;
  min-height: 400px;
}
.escolha-materia-div #lista-materias {
  width: 100%;
}
div.confirmacao-div button.active {
  background-color: #000;
}
/*div.confirmacao-div {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}*/
#content {
  padding: 10px;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}
